.LoginEmail{
    position: relative;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;

border-radius: 50px 50px 50px 50px;
background: #F0F8FF;
box-shadow: inset 100px -100px 100px rgba(185, 188, 191, 0.123), inset -100px 100px 100px rgba(255, 255, 255, 0.123);
backdrop-filter:blur(600px);
}
.LoginELogo
{
    width: 75px;
    height: 75px;
    background: #FF2D55;
    border-radius: 40px 40px 40px 40px;
    position: absolute;
}
.Licon1
{
    padding-top: 20px;
    padding-left: 20px;
}
.LoginEContent
{
    position: absolute;
    width: 1542px;
    height: 800px;
    left: 189px;
    top: 140px;
    display: flex;

background:white;
border-radius: 32px;
}
.LoginEmailCR{
    flex:5;
}
.LECLnenmau{
    width: 770px;
height: 752px;

margin-bottom: 35%;
margin-right: 50px;
position: relative;

/* angular */

background: conic-gradient(from 76.92deg at 50% 50%, #C5FFFB -73.21deg, #E4E9FE 2.5deg, #A9D7FF 81.36deg, #89DCFF 143.29deg, #A9C6FF 207.16deg, #C5FFFB 286.79deg, #E4E9FE 362.5deg);
opacity: 0.5;
border-radius: 18px;
}
.LoginEContentleft{
    flex: 5;
    width: 776px;
    height: 752px;
    left: 24px;
    top: 24px;
    margin-top: 15px;
    margin-left: 30px;
}
.LoginEmailForm{
    position: absolute;
    width: 396px;
    height: 120px;
    left: 951px;
    top: 120px;
    
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    
    /* Blue/8 */
    
    color: #091F3A;
}
.LoginEmailCRText{
    position: absolute;
    width: 518px;
    height: 24px;
    left: 951px;
    top: 170px;
    
    /* Text/Text 16 Regular */
    
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    display: flex;
    align-items: center;
    
    /* Blue/8 */
    
    color: #091F3A;
    
    opacity: 0.6;
}
.LoginEFText{
    position: static;
width: 43px;
height: 40px;
left: 0px;
top: 0px;

/* 16 Bold */

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;

/* Blue/8 */

color: #091F3A;

opacity: 0.6;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin-top: 30%;
}
.LoginEFTextEmail{
    margin-top: 200px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 356px;
    height: 48px;
    position: absolute;
    font-size:16px;

    border: 1px solid #347AFF;
    box-sizing: border-box;
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */

border-radius: 8px;
}
.LoginEmailCR{
    flex:5;
}
.LoginEmailCRForgot{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    margin-top: 15%;
    text-align: center;
    margin-right: 25%;
}
.LoginEFSendEmail
{
    margin-top: 37%;
    margin-left: 22%;
    position: absolute;
    align-items: center;
    border-radius: 8px;
    background: #2190CD;
    width: 163px;
    height: 55px;
}
.LoginEFTextSendMail{
    color: #FFFFFF;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
}
.LoginEmailBack{
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1085C5;
    position: absolute;
    z-index: 2;
    margin-top: 30%;
    margin-left: 18%;
    cursor: pointer;
}
.LECLatm{
    margin-top: 10%;
    margin-left: 16%;
    height: 600px;
    position: absolute;
    z-index: 1;
}
.LECLShadowATM{
    position: absolute;
    z-index: 0;
    margin-top: 35%;
    opacity: 0.9;
}
.LECLf923{
    position: absolute;
    z-index: 1;
    margin-top: 3%;
    margin-left: 30px;
}
.LECLf924{
    position: absolute;
    z-index: 2;
    margin-top: 15%;
    margin-left: 43%;
}
.LECLf931{
    position: absolute;
    z-index: 2;
    margin-top: 32%;
    margin-left: 30%;
}
